[Unit]
Description=Telegram Worker SIMPERS
After=network.target mariadb.service

[Service]
Type=simple

User=www-data

WorkingDirectory=/var/www/html/simpers

ExecStart=/usr/bin/php /var/www/html/simpers/worker_telegram.php

Restart=always

RestartSec=5

StandardOutput=append:/var/www/html/simpers/logs/systemd.log

StandardError=append:/var/www/html/simpers/logs/systemd_error.log

[Install]
WantedBy=multi-user.target


<!-- kemudian di terminal linuc jalankan perintah ini satu persatu
sudo systemctl daemon-reload

sudo systemctl enable telegram-worker

sudo systemctl start telegram-worker

sudo systemctl status telegram-worker -->
